#root {
  margin-top: 30px;
  width: 100%;
  background: linear-gradient(135deg, #000000, #3b82f6);
  min-height: 100vh;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Header styles */
#header {
  width: 97%;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #000000, #3b82f6);
  z-index: 10;
}

/* Logo styling */
.logo {
  color: #ffffff;
  font-weight: bold;
}

/* Menu button styling */
.menu button {
  color: white;
  font-weight: bold;
  margin-left: 1rem;
}

/* Glow effect cursor */
#glow-cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff4081;
  position: absolute;
  pointer-events: none;
  transition: transform 0.1s ease;
  mix-blend-mode: difference;
}

/* Card and heading styling */
.heading {
  color: white;
  text-align: center;
}

.card {
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}

.active-incidents {
  width: 100%;
  max-width: 600px;
}

.incident-card {
  margin-top: 1rem;
}

.icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.status-high {
  border-left: 8px solid #e57373;
}

.status-medium {
  border-left: 8px solid #ffb74d;
}

.status-low {
  border-left: 8px solid #81c784;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
}

.nav-item:hover .dropdown {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


.dropdown button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown button:hover {
  background-color: #ddd;
}
